.auth-header {
  padding: 32px 64px;
  background: #89c7de;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.home {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.link-area {
  margin-top: 8px;
}

.menu-group {
  display: flex;
}

.menu-item {
  margin-right: 40px;
  color: #fff;
}

.menu-item:last-child {
  margin-right: 0;
}

.link {
  color: #fff;
  text-decoration: none;
}

.logout-link {
  cursor: pointer;
}

@media (max-width: 768px) {
  .auth-header {
    padding: 32px 32px;
  }

  .menu-item {
    margin-right: 20px;
  }
}
